@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&dispay=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:  #f3f5f8;
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 10vh;
    line-height: 80px;
    z-index: 1000;
    background: transparent;
    border-bottom: 1px solid transparent;
    transition: all .45s ease ;
}
nav.sticky{
    background: #f3f5f8;
    border-bottom: 1px solid #7f00ff;
    padding: 12px 15%;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: #7f00ff;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 25px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.icons a:hover,
.navItems a.active{
    color: #7f00ff;
} 
.icons a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    justify-content: flex-start;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 550px;
    width: 550px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,black,gray);;
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,black,gray);;
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 80%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}
.multiText{
    color: black;
    text-transform: capitalize	;
}
p{
    display: block;
    width: 100%;
    font-size: 1.2em;
}
.btns{
     width: 100%;
     position: relative;
     left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
button:hover{
    background-color: #7f00ff;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox img{
    position: relative;
    height: 80%;
    width: calc(90% - 80px);
    left: 100px;
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width: 100%;
    filter: saturate(200%);
}
#aviso{
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 3em;
    word-break: normal;
    text-align: center;
}
@media(max-width:1700px) {
    .cols1{
        display: none;
    }
}
.section-contratarme{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 450px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-value{
    width: 400px;
    height: 500px;
}
#h2contratacao{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 80%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

textarea:valid ~ label,
input:valid ~ label,
input:focus ~ label,
textarea:focus ~ label{
    top: -5px;
}


.inputbox input,textarea{
    width: 103%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: #fff;
}
textarea{
    resize: none;
    height: 70px;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;

}
#btn{
    margin: 0;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: black;
    transition: all .45s;
}
#btn:hover{
    background: #000000;
    color:#fff
}
section{
    padding: 160px 15% 120px;
}
span{
    color: #7f00ff;
}
.sobre{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}
.sobre-img img{
    max-width: 530px;
    height: auto;
    width: 90%;
    border-radius: 8px;
}
.sobre-text h2{
    font-size: 3rem;
    line-height: 1;
}
.sobre-text h4{
    font: 24px;
    font-weight: 600;
    color: #3d535f;
    line-height: 1.7;
    margin: 15px 0 30px;
}
.sobre-text p{
    color: #444e53;
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 4rem;
}
.habilidades{
    background: gray;
}
.main-text{
    text-align: center;
}
.main-text p{
    color: black;
    font-size: 15px;
    margin-bottom: 15px;
}
.main-text h2{
    font-size: 3rem;
    line-height: 1;
}
.habilidades-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.box{
    background: #f3f5f8;
    padding: 35px 45px;
    border-radius: 8px;
    transition:  all .45s ease;
}
.s-icons ion-icon{
    font-size: 32px;
    margin-bottom: 20px;
}
.box h3{
    font-size: 24px;
    font-weight: 600;
    color: #7f00ff;
    margin-bottom: 15px;
}
.box p{
    color: #444e53;
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}
.read{
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
    text-decoration: none;
}
.read:hover{
    letter-spacing: 1px;
    background: #7c7c7c99;
    color: #000000;
}
.box:hover{
    transform: translateY(-8px);
    cursor: pointer;
}
.portfolio-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1), #7f00ff);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}
.layer p,h5{
    color: white;
}
.layer h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}
.layer p{
    font-size: 1rem;
    line-height: 1.8;
}
.layer ion-icon{
    color: #000000;
    margin-top: 20px;
    font-size: 20px;
    background: #f3f5f8;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}