@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&dispay=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color:  #f3f5f8;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 10vh;
    line-height: 80px;
    z-index: 111;
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d535f;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: #7f00ff;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d535f;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.icons a:hover{
    color: #7f00ff;
} 
.icons a{
    font-size: 30px;
    color: #3d535f;
    margin: 25px 10px;
}

.wrapper{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
    justify-content: flex-start;
}
.wrapper::before{
    position: absolute;
    content: '';
    height: 550px;
    width: 550px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,black,gray);;
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: '';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,black,gray);;
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 80%;
    z-index: 5;
}
.topline{
    display: block;
    position: relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}

.topline::after{
    position: absolute;
    content: '';
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 7em;
    font-weight: 900;
    color: #3d535f;
}
.multiText{
    color: black;
    text-transform: capitalize	;
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
}
.btns{
     width: 100%;
     position: relative;
     left: 150px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
button:hover{
    background-color: #7f00ff;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}
.imgbox img{
    position: relative;
    height: 80%;
    width: calc(90% - 80px);
    left: 100px;
}
.imgbox #splash{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-35deg);
    width: 100%;
    filter: saturate(200%);
}
#aviso{
    width: 100%;
    height: 100%;
    position: fixed;
    font-size: 3em;
    word-break: normal;
    text-align: center;
}
@media(max-width:1700px) {
    .cols1{
        display: none;
    }
}
.section-contratarme{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 100%;
    background: url('wallpaperflare.com_wallpaper.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 450px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-value{
    width: 400px;
    height: 500px;
}
#h2contratacao{
    font-size: 2em;
    color: #fff;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 100%;
    border-bottom: 2px solid #fff;
}
.inputbox label{
    position: absolute;
    top: 80%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

textarea:valid ~ label,
input:valid ~ label,
input:focus ~ label,
textarea:focus ~ label{
    top: -5px;
}

textarea{
    resize: none;
}
.inputbox input,textarea{
    width: 103%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 35px 0 5px;
    color: #fff;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 20px;

}
#btn{
    margin: 0;
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    color: black;
}
section{
    padding: 160px 15% 120px;
}
span{
    color: #7f00ff;
}